<launch>

    <!-- set /use_sim_time true if replaying bag  (also remember clock flag for rosbag play) --> 
    <param name="/use_sim_time" value="true"/>

    <!-- uncompress camera feed -->
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/raspicam_node/image raw out:=/raspicam_node/image" /> 

    <!-- launch localization (hint: check out the preinstalled "turtlebot3_slam" package) -->

    <!-- launch SLAM map -->

 	 <!-- Arguments -->
  	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  	<arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
  	<arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>

  	<!-- TurtleBot3 -->
  	<include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    	<arg name="model" value="$(arg model)" />
  	</include>

 	 <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
 	 <include file="$(find turtlebot3_slam)/launch/turtlebot3_$(arg slam_methods).launch">
   	 <arg name="model" value="$(arg model)"/>
   	 <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  	 </include>


    <!-- launch object A detector (april tags) -->
      	<arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  	<arg name="node_namespace" default="apriltag_ros_continuous_node" />
  	<arg name="camera_name" default="/raspicam_node" />
  	<arg name="camera_frame" default="camera" />
  	<arg name="image_topic" default="/image" />

  	<!-- Set parameters -->
  	<rosparam command="load" file="$(find hk_ros_2021)/april_tag_detector_config/settings.yaml" ns="$(arg node_namespace)" />
 	<rosparam command="load" file="$(find hk_ros_2021)/april_tag_detector_config/tags.yaml" ns="$(arg node_namespace)" />
  
  	<node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
   	
	<!-- Remap topics from those used in code to those on the ROS network -->
    	<remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    	<remap from="camera_info" to="$(arg camera_name)/camera_info" />

    	<param name="camera_frame" type="str" value="$(arg camera_frame)" />
    	<param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
  	</node>

    <!-- launch object B detector (geometric shapes) -->

    <!-- launch object C detector (animals) -->

    <!-- launch rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find hk_ros_2021)/rviz_config/hk_ros_2021.rviz"/>

</launch>	
